<div class="application__container">
  {{outlet}}

  <div class="application__device-write" {{action 'connectDevice'}}></div>
  <div class="application__bluetooth-warning {{if bluetoothWarning 'device-gone'}}">
    <div class="application__bluetooth-warning--text">
      <i class="fas fa-exclamation-triangle yellow"></i>
      <i class="fab fa-bluetooth blue"></i>
      <i class="fas fa-arrow-right green"></i>
    </div>
    <div class="application__bluetooth-warning--buttons">
      <button class="application__bluetooth-warning--button" {{action 'connectHrm'}}>
        <i class="fas fa-heart"></i>
      </button>
      <button class="application__bluetooth-warning--button" {{action 'connectDevice'}}>
        <i class="fas fa-bolt"></i>
      </button>

      <button class="application__bluetooth-warning--button" {{action 'connectDh'}}>
        <i class="fas fa-desktop"></i>
      </button>
    </div>
  </div>
  <div class="application__user-status {{if localUser 'user-valid'}} {{if showCheater 'cheater'}}">
    {{#if showCheater}}
      <div class="application__user-status--cheater"></div>
    {{/if}}
    {{localUser.name}}<br />
    <i class="fas fa-bolt"></i>{{localUser.lastPower}} 
    {{#if localUser.hrm}}
      <i class="fas fa-heart"></i>{{localUser.hrm}} 
    {{/if}}
    <a href='#' {{action 'connectDevice'}}>Power/Trainer</a> 
    <a href='#' {{action 'connectHrm'}}>HRM</a> 
    <br />


    Handicap {{localUser.handicap}} 
    {{#link-to 'set-up-user'}}Change{{/link-to}}
  </div>
</div>