{{#link-to 'index' class="tourjs-header__title"}}Tour.js{{/link-to}}
<div class="tourjs-header__subhead">


  <div class="tourjs-header__subhead--item">
    <div class="tourjs-header__subhead--item-label">{{#link-to 'set-up-user'}}Name{{/link-to}}:</div>
    <div class="tourjs-header__subhead--item-value">{{yourName}}</div>
  </div>


  <div class="tourjs-header__subhead--item">
    <div class="tourjs-header__subhead--item-label">{{#link-to 'set-up-user'}}FTP{{/link-to}}:</div>
    <div class="tourjs-header__subhead--item-value">{{yourFtp}}</div>
  </div>


  {{#if hasHrm}}
    <div class="tourjs-header__subhead--item">
      <div class="tourjs-header__subhead--item-label"><a href='#' {{action 'connectHrm'}}>BPM:</a></div>
      <div class="tourjs-header__subhead--item-value">{{lastHrm}}</div>
    </div>
  {{else}}
    <div class="tourjs-header__subhead--item">
      <button {{action 'connectHrm'}}>Connect<br>HRM</button>
    </div>
  {{/if}}


  {{#if hasPower}}
    <div class="tourjs-header__subhead--item">
      <div class="tourjs-header__subhead--item-label"><a href='#' {{action 'connectPower'}}>Power</a></div>
      <div class="tourjs-header__subhead--item-value">{{lastPower}}</div>
    </div>
  {{else}}
    <div class="tourjs-header__subhead--item">
      <button {{action 'connectPower'}}>Connect<br>Power</button>
    </div>
  {{/if}}
</div>