You're riding!  You have gone {{lastLocalMeters}}

There are {{localRiders.length}} riders.

{{#each localRiders as |riderDisplay|}}
  <div>
    Name: {{riderDisplay.name}}<br />
    Position: {{riderDisplay.distance}}<br />
    Speed: {{riderDisplay.speed}}<br />
    Slope: {{riderDisplay.slope}}<br />
  </div>
{{/each}}
<h3>Remote Riders</h3>
{{#each remoteRiders as |riderDisplay|}}
  <div>
    Name: {{riderDisplay.name}}<br />
    Position: {{riderDisplay.distance}}<br />
    Speed: {{riderDisplay.speed}}<br />
    Slope: {{riderDisplay.slope}}<br />
  </div>
{{/each}}