<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">Length (meters)</div>
  {{input class="create-race-widget__text" type="number" value=meters}}
</div>
<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">Name Of Your Ride</div>
  {{input class="create-race-widget__text" type="text" value=raceName}}
</div>
<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">When are you riding? (date)</div>
  {{input class="create-race-widget__text" id="when-date" type="date" value=raceDate}}
  <div class="create-race-widget__param--title">When are you riding? (time)</div>
  {{input class="create-race-widget__text" id="when-time" type="time" value=raceTime}}
</div>
{{mini-map class="create-race-widget__minimap" race=race}}
<button class="create-race-widget__button" {{action 'createRace'}}>Schedule Ride</button>