<div class="index__container">
  {{tourjs-header}}
  {{#if devices.kickrConnected}}
    {{#link-to 'kickr-setup'}}Kickr Setup{{/link-to}}
  {{/if}}
  <div class="index__activity user" {{action 'goto' 'set-up-user'}}>
    {{#vertical-align class="index__activity--text"}}
      Setup User
    {{/vertical-align}}
  </div>
  <div class="index__activity race" {{action 'goto' 'set-up-ride'}}>
    {{#vertical-align class="index__activity--text"}}
      Race
    {{/vertical-align}}
  </div>
  <div class="index__activity hrm-control" {{action 'goto' 'hrm-control'}}>
    {{#vertical-align class="index__activity--text"}}
      Heart Rate Workout
    {{/vertical-align}}
  </div>
  <div class="index__activity pacing-challenge" {{action 'goto' 'pacing-challenge'}}>
    {{#vertical-align class="index__activity--text"}}
      Pacing Challenge
    {{/vertical-align}}
  </div>
  <div class="index__activity battleship" {{action 'goto' 'battleship'}}>
    {{#vertical-align class="index__activity--text"}}
      Battleship
    {{/vertical-align}}
  </div>
  {{stored-data}}
</div>