{{#if selectActionPhase}}
  <button {{action 'pickShoot'}}>Shoot</button>
  <button {{action 'pickRadar'}}>Radar</button>
  <button {{action 'pickMoveNW'}}>Move NW</button>
  <button {{action 'pickMoveSE'}}>Move SE</button>
  <button {{action 'pickPass' false}}>Pass / Slow Down</button>
  <button {{action 'pickPass' true}}>Pass / Speed Up</button>
{{/if}}
{{#if selectParamsPhase}}

  {{#if isShoot}}
    {{battleship-map showMode="on-top" game=theirGame onPickSquare=(action 'onPickSquareForShooting')}}
  {{else if isMoveNW}}
    {{battleship-pick-move game=yourGame isNW=isNW onSetupMove=(action 'onSetupMove')}}
  {{else if isMoveSE}}
    {{battleship-pick-move game=yourGame isNW=isNW onSetupMove=(action 'onSetupMove')}}
  {{else if isRadar}}
    <button {{action 'onSetupRadar' 4}}>4</button>
    <button {{action 'onSetupRadar' 8}}>8</button>
    <button {{action 'onSetupRadar' 12}}>12</button>
    <button {{action 'onSetupRadar' 16}}>16</button>
    <button {{action 'onSetupRadar' 20}}>20</button>
  {{else if isPass}}
  {{/if}}

{{/if}}