<div class="hrm-control__super-container">
  <div class="hrm-control__container">
    <h1>HRM control mode</h1>
    <div class="hrm-control__button-row">
      <button class="hrm-control__button" {{action 'upErg'}}>% Up</button><br>
      <button class="hrm-control__button" {{action 'downErg'}}>% Down</button><br>
    </div>
    <div class="hrm-control__data">
      <div class="hrm-control__data-row">
        <div class="hrm-control__data-key">Target %</div>
        <div class="hrm-control__data-value">{{strTargetHandicap}}</div>
      </div>
      <div class="hrm-control__data-row">
        <div class="hrm-control__data-key">Current bpm</div>
        <div class="hrm-control__data-value">{{strLastBpm}}</div>
      </div>
      <div class="hrm-control__data-row">
        <div class="hrm-control__data-key">Target bpm</div>
        <div class="hrm-control__data-value">{{strTargetBpm}}</div>
      </div>
    </div>
    <div class="hrm-control__button-row">
      <button class="hrm-control__button" {{action 'downTarget' 5}}><i class="fas fa-heart hrm-control__heart down5" ></i> -5</button><br>
      <button class="hrm-control__button" {{action 'downTarget' 1}}><i class="fas fa-heart hrm-control__heart down1"></i> -1</button><br>
      <button class="hrm-control__button" {{action 'upTarget' 1}}><i class="fas fa-heart hrm-control__heart up1"></i> +1</button><br>
      <button class="hrm-control__button" {{action 'upTarget' 5}}><i class="fas fa-heart hrm-control__heart up5"></i> +5</button><br>
    </div>
    <div class="hrm-control__button-row">
      <button class="hrm-control__button" {{action 'gainAdjust' -1}}>Aggro - 1</button><br>
      {{gain}}
      <button class="hrm-control__button" {{action 'gainAdjust' 1}}>Aggro + 1</button><br>
    </div>
    <br><br>
    <button class="hrm-control__download" {{action 'downloadFile'}}>Download PWX</button>
  </div>
</div>