<div class="application__container">
  {{outlet}}

  <div class="application__device-write" {{action 'connectDevice'}}></div>
  <div class="application__bluetooth-warning {{if bluetoothWarning 'device-gone'}}">
    <div class="application__bluetooth-warning--text">
      <i class="fas fa-exclamation-triangle yellow"></i>
      <i class="fab fa-bluetooth blue"></i>
      <i class="fas fa-arrow-right green"></i>
    </div>
    <div class="application__bluetooth-warning--buttons">
      {{#if hasPlugins}}
        <button class="application__bluetooth-warning--button" {{action 'connectPlugin'}}>
          <i class="fas fa-plug"></i>
        </button>
      {{/if}}
      <button class="application__bluetooth-warning--button" {{action 'connectDevice'}}>
        <i class="fas fa-bolt"></i>
      </button>
    </div>
  </div>
  <div class="application__user-status {{if localUser 'user-valid'}}">
    {{localUser.name}}<br />
    <i class="fas fa-bolt"></i>{{localUser.lastPower}} 
    <a href='#' {{action 'connectDevice'}}>BLE</a> 
    {{#if hasPlugins}}
      <a href='#' {{action 'connectPlugin'}}>Plugin</a>
    {{/if}}
    <br />


    Handicap {{localUser.handicap}} 
    {{#link-to 'set-up-user'}}Change{{/link-to}}
  </div>
</div>