<div class="index__container">
  {{tourjs-header}}
  <div class="index__activity explanation">
    {{#vertical-align class="index__activity--text"}}
      <p>Pacing Challenge mode is identical to if someone put 1L of gas in your can and told you to drive a 25km course as fast as you can.  You need to spend the energy available to you, but spend it efficiently!.  The various modes (125%, 100%, etc) give you more or less fuel to spend.</p>
      <p>If you use too much energy, game over.</p>
      <p>Tip: Powering up uphills and coasting downhills is wise.</p>
    {{/vertical-align}}
  </div>
  <div class="index__activity 100" {{action 'start' 125}}>
    {{#vertical-align class="index__activity--text"}}
      <p>125% Effort</p>

      {{#each model.effort125 as |result index|}}
        <p class="index__activity--small">{{result.rank}}: {{time-display result.time}} by {{result.name}}</p>
      {{/each}}
      
    {{/vertical-align}}
  </div>
  <div class="index__activity 100" {{action 'start' 100}}>
    {{#vertical-align class="index__activity--text"}}
      <p>100% Effort</p>
      {{#each model.effort100 as |result index|}}
        <p class="index__activity--small">{{result.rank}}: {{time-display result.time}} by {{result.name}}</p>
      {{/each}}
    {{/vertical-align}}
  </div>
  <div class="index__activity 90" {{action 'start' 90}}>
    {{#vertical-align class="index__activity--text"}}
      90% Effort
      {{#each model.effort90 as |result index|}}
        <p class="index__activity--small">{{result.rank}}: {{time-display result.time}} by {{result.name}}</p>
      {{/each}}
    {{/vertical-align}}
  </div>
  <div class="index__activity 80" {{action 'start' 80}}>
    {{#vertical-align class="index__activity--text"}}
      80% Effort
      {{#each model.effort80 as |result index|}}
        <p class="index__activity--small">{{result.rank}}: {{time-display result.time}} by {{result.name}}</p>
      {{/each}}
    {{/vertical-align}}
  </div>
  <div class="index__activity 50" {{action 'start' 50}}>
    {{#vertical-align class="index__activity--text"}}
      50% Effort
      {{#each model.effort50 as |result index|}}
        <p class="index__activity--small">{{result.rank}}: {{time-display result.time}} by {{result.name}}</p>
      {{/each}}
    {{/vertical-align}}
  </div>
</div>