{{tourjs-header}}


<div class="display-post-race__rankings">
  <h3 class="display-post-race__title">Rankings:</h3>
  <table class="display-post-race__table">
    {{#each processedRankings.byRank as |result|}}
      <tr class="display-post-race__result">
        <td>{{result.rank}}</td>
        <td>{{result.name}}</td>
        <td>
          {{#if result.time}}
            {{result.time}}
          {{else}}
            Not Finished
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>


  <h3 class="display-post-race__title">Draft Kings and Queens:</h3>
  <p class="display-post-race__text">This shows how many FTP-seconds of energy each person saved.  An FTP-second saved means for a 250W rider, they got to skip doing 250W for a second.  Or they got to do 125W less for 2 seconds.</p>
  <table class="display-post-race__table">
    {{#each processedRankings.byHs as |result index|}}
      <tr class="display-post-race__result">
        <td>#{{add index 1}}</td>
        <td>{{result.name}}</td>
        <td>
          {{#if result.hsSaved}}
            {{result.hsSaved}}
          {{else}}
            Not Finished
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>

  
  <h3 class="display-post-race__title">The "Definitely Not A Prius" Award</h3>
  <p class="display-post-race__text">Who used the most energy per km?  Rankings are by FTP-seconds spent per kilometer.</p>
  <table class="display-post-race__table">
    {{#each processedRankings.byEfficiency as |result index|}}
      <tr class="display-post-race__result">
        <td>#{{add index 1}}</td>
        <td>{{result.name}}</td>
        <td>
          {{#if result.efficiency}}
            {{result.efficiency}}
          {{else}}
            Not Finished
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>


  {{display-post-race-spending 
      list=processedRankings.last-500m
      overDistanceKm=processedRankings.sprintDistanceKm
       title="Sprint Finish" 
       description="Energy spent in the last 500m"}}

  {{display-post-race-spending 
      list=processedRankings.first-half
      overDistanceKm=processedRankings.halfDistanceKm
       title="First Half Heroes" 
       description="Energy spent in the first half of the course.  You don't want to be winning this ranking."}}

       
  {{display-post-race-spending 
      list=processedRankings.last-half
      overDistanceKm=processedRankings.halfDistanceKm
       title="Negative Splits Aren't So Negative" 
       description="Energy spent in the second half of the course"}}

  {{display-post-race-spending 
      list=processedRankings.while-downhill
       title="Which Way Does Gravity Go?" 
       description="Total FTP-seconds spent on downhill segments.  It's probably unwise to win this ranking."}}
  
  {{display-post-race-spending 
      list=processedRankings.while-uphill
       title="Up Up And Away!" 
       description="Total FTP-seconds spent on uphill segments"}}
       
  {{display-post-race-spending 
      list=processedRankings.whole-course
      overDistanceKm=processedRankings.raceDistanceKm
       title="Total Energy Spent" 
       description="Total FTP-seconds spent on the entire course"}}

    <br><br><br><br><br><br><br>
       
</div>