<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">Length (meters)</div>
  {{input class="create-race-widget__text" type="number" value=meters}}
</div>
<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">Pick Course</div>
  {{#if stravaLink}}
  {{else}}
    <button class="create-race-widget__button" {{action 'setUpStrava'}}>Pick From Strava</button>
    <label for="gpx-upload">
      <input id="gpx-upload" type="file" class="create-race-widget__button file-upload" />
      <span class="create-race-widget__button">Upload GPX</span>
    </label>
    <div class="create-race-widget__quick-label">Quick Start</div>
    <div class="create-race-widget__quick-container">
      <button class="create-race-widget__quick-button" {{action 'randomCourse' 6000}}>6km</button>
      <button class="create-race-widget__quick-button" {{action 'randomCourse' 10000}}>10km</button>
      <button class="create-race-widget__quick-button" {{action 'randomCourse' 15000}}>15km</button>
      <button class="create-race-widget__quick-button" {{action 'randomCourse' 20000}}>20km</button>
    </div>
  {{/if}}
</div>
<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">Name Of Your Ride</div>
  {{input class="create-race-widget__text" type="text" value=raceName}}
</div>
<div class="create-race-widget__param">
  <div class="create-race-widget__param--title">When are you riding? (date)</div>
  {{input class="create-race-widget__text" id="when-date" type="date" value=raceDate}}
  <div class="create-race-widget__param--title">When are you riding? (time)</div>
  {{input class="create-race-widget__text" id="when-time" type="time" value=raceTime}}
</div>
{{mini-map class="create-race-widget__minimap" race=race}}
<button class="create-race-widget__button" {{action 'createRace'}}>Submit Ride</button>