<div class="index__container">
  {{tourjs-header}}
  <p>Do you have a Wahoo Kickr?  Wahoo doesn't appear to have released the specs for their control protocol, so this lets you configure my best-guess protocol.</p>
  <br>
  <h4>How to use</h4>
  <ul>
    <li>Connect your kickr</li>
    <li>Shift to your fastest gear setting (downhill config)</li>
    <li>Set it to -10% with the buttons below</li>
    <li>Screw around with the "downhill strength" setting</li>
    <li>Shift to your gear you'll be doing climbing in</li>
    <li>Set it to +10% with the buttons below</li>
    <li>Screw around with the "uphill strength" setting</li>
    <li><b>Don't forget to click "save" so you only have to do this once</b></li>
  </ul>

<br><br>
  Downhill Strength<br>
  {{input class="kickr-setup__input" value=downhillStrength}}
  <button class="kickr-setup__button" {{action 'downhill' 0.98}}>Harder</button>
  <button class="kickr-setup__button" {{action 'downhill' 1.02}}>Easier</button><br>

  Uphill Strength<br>
  {{input class="kickr-setup__input" value=uphillStrength}}
  <button class="kickr-setup__button" {{action 'uphill' 0.98}}>Harder</button>
  <button class="kickr-setup__button" {{action 'uphill' 1.02}}>Easier</button><br>
  <br>
  <button class="kickr-setup__button" {{action 'save'}}>Save Uphill/downhill strengths</button>
  <br><br>
  <h3>Test your settings below</h3>


  <button class="kickr-setup__button" {{action 'setHill' -10}}>-10%</button>
  <button class="kickr-setup__button" {{action 'setHill' -8}}>-8%</button>
  <button class="kickr-setup__button" {{action 'setHill' -6}}>-6%</button>
  <button class="kickr-setup__button" {{action 'setHill' -4}}>-4%</button>
  <button class="kickr-setup__button" {{action 'setHill' -2}}>-2%</button><br>
  <button class="kickr-setup__button" {{action 'setHill' 0}}>Flat</button><br>

  <button class="kickr-setup__button" {{action 'setHill' 2}}>2%</button>
  <button class="kickr-setup__button" {{action 'setHill' 4}}>4%</button>
  <button class="kickr-setup__button" {{action 'setHill' 6}}>6%</button>
  <button class="kickr-setup__button" {{action 'setHill' 8}}>8%</button>
  <button class="kickr-setup__button" {{action 'setHill' 10}}>10%</button>

</div>