<h3>Welcome to HRM control mode?</h3>

Current erg target: {{strTargetErg}}<br>
Current bpm: {{strLastBpm}}<br>
Target bpm: {{strTargetBpm}} <button class="hrm-control__button" {{action 'up'}}>Up</button><button class="hrm-control__button" {{action 'down'}}>Down</button><br>