{{#if userDisplay}}
  <table>
    <tr>
      <td>Name:</td>
      <td>{{userDisplay.name}}</td>
    </tr>
    <tr>
      <td>Power:</td>
      <td>{{userDisplay.lastPower}}</td>
    </tr>
    <tr>
      <td>Distance:</td>
      <td>{{userDisplay.distance}}</td>
    </tr>
    <tr>
      <td>Speed:</td>
      <td>{{userDisplay.speed}}</td>
    </tr>
    <tr>
      <td>Slope:</td>
      <td>{{userDisplay.slope}}</td>
    </tr>
  </table>
{{/if}}