{{#if userDisplay}}
  <div class="user-dashboard__table">
    <div class="user-dashboard__title">
      Your Status
    </div>
    <div class="user-dashboard__tr">
      <div class="user-dashboard__label">Name:</div>
      <div class="user-dashboard__value">{{userDisplay.name}}</div>
    </div>
    <div  class="user-dashboard__tr">
      <div class="user-dashboard__label">Power:</div>
      <div class="user-dashboard__value">{{userDisplay.lastPower}}</div>
    </div>
    <div class="user-dashboard__tr">
      <div class="user-dashboard__label">Distance:</div>
      <div class="user-dashboard__value">{{userDisplay.distance}}</div>
    </div>
    <div class="user-dashboard__tr">
      <div class="user-dashboard__label">Speed:</div>
      <div class="user-dashboard__value">{{userDisplay.speed}}</div>
    </div>
    <div class="user-dashboard__tr">
      <div class="user-dashboard__label">Slope:</div>
      <div class="user-dashboard__value">{{userDisplay.slope}}</div>
    </div>
    <div class="user-dashboard__tr">
      <div class="user-dashboard__label">Draft Savings:</div>
      <div class="user-dashboard__value">{{userDisplay.lastWattsSaved}}</div>
    </div>
  </div>
{{/if}}