{{#each rankings as |ranking index|}}
  <div class="leader-board__rank {{ranking.classString}}">
    <span class="leader-board__rank-text">
      {{ranking.rankString}}
    </span>
    <span class="leader-board__rank-name">
      {{ranking.name}}
    </span>
    <span class="leader-board__rank-delta">
      {{#if ranking.secondsDelta}}
        {{ranking.secondsDelta}}
      {{/if}}
    </span>
    <span class="leader-board__rank-distance">
      {{ranking.distance}}
    </span>
  </div>
{{/each}}