{{#if connection.preRace}}
  {{display-pre-race frame=frame localRiders=localRidersPreRace nonLocalHumans=nonLocalHumans ais=ais}}
{{else if connection.racing}}
  {{#if _raceState}}
    {{display-race raceState=_raceState overlay="leader-board" mode="3d"}}
  {{else}}
    Connecting...
  {{/if}}
{{/if}}

{{#unless _userSignedIn}}
  <div class="new-user__container">
    {{user-set-up-widget onDone=(action 'doneAddingUser')}}
  </div>
{{/unless}}